<section id="graphic" class="mb-5 mt-5 mx-auto">
  <div class="container">
    <div class="row">
        <div class="card_graphic">
          <div class="card">
            <div class="card-body text-center">
              <google-chart #chart
                [title]="title"
                [type]="type"
                [data]="data"
                [columnNames]="columnNames"
                [options]="options"
                [width]="width"
                [height]="height">
              </google-chart>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

    