<div class="middle">
    <div class="menu">
        <li class="item" id='datos'>
            <a href="#datos" class="btn"><i class="far fa-edit"></i>Datos</a>
            <div class="smenu">
                <a href="#">15 minutos</a>
                <a href="#">1 minuto</a>
            </div>
        </li>
        <li class="item" id='rango'>
            <a href="#rango" class="btn"><i class="fas fa-calendar-alt"></i>Rango</a>
            <div class="smenu">
                <a href="#">Fecha inicio</a>
                <a href="#">Fecha fin</a>
            </div>
        </li>
        <li class="item" id='dispositivos'>
            <a href="#dispositivos" class="btn"><i class="fas fa-bolt"></i>Dispositivos</a>
            <div class="smenu">
                <a href="#">Casas</a>
                <a href="#">Coches eléctricos</a>
                <a href="#">Fotovoltaica</a>
            </div>
        </li>
    </div>
</div>
